
@import url('./darkmode.css');
@import url('./menu.css');

body {
  font-family: Calibri, sans-serif;
  margin: 0;
  padding: 0;
  background-color: var(--lightmode-background-color);
  line-height: 29px;
  font-family: 'Prompt', sans-serif,'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  font-size: 400;

}



:root {
  /***Darkmode ***/
  --darkmode-background-color: #161b22;
  /***Lightmode **/
  --lightmode-background-color: #d5e1e1;
  --lightmode-background-heading: #212426;
  --lightmode-menu-color: #212426;
  --lightmode-fieldset-color: #9faab5;
  --lightmode-progressive-bar: #577982;

}


header {
  margin: 0;
  max-height: 50%;


}

header>div {
  margin-top: 1em;
  padding: 0;

}

header>div p {
  line-height: 0;

}

header .navbar {
  padding: 1em;

}


h1 {
  color: var(--pimary-color);
  text-align: center;
  font-size: 1.4rem;
}

section:nth-of-type(1) p {
  text-align: center;
}


/*****Hamburger-menu***/


main {
  background-color: var(--lightmode-background-color);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

#personal-info-next a {
  text-decoration: none;
  color: white;

}

#personal-info-next a:hover {
  color: white;
  height: 2em;
}



#personal-info {
  display: grid;
  align-items: center;
  justify-content: center;
  padding-left: 1em;
  padding-right: 1em;

}


.error {
  color: red;
}

.success {
  color: green;
}


/****Optional**/
.optional {
  color: grey;
  font-style: italic;
}

#personal-info h3 {
  color: var(--lightmode-background-heading);
  text-align: left;

}

#personal-info legend {
  font-weight: 500;
  font-size: 16px;
  padding: .1em;

}


#personal-info,
h2,
label {
  gap: .5em;
}


#personal-info input {
  width: 17em;
  height: 1em;
  padding: 0.5em;
  margin-top: 0.7em;
  border: none;
  border-radius: .2em

}

#personal-info input:focus {
  outline-style: dashed;
  outline-width: .095em;
  outline-color: var(--lightmode-background-heading);

}




/***Validation personal information**/

/* #personal-info input[type="text"]:valid,
input[type="email"]:valid {
  border: 1px solid green;
  border-bottom: 3px solid green;
}


#personal-info input[type="text"]:invalid,
input[type="email"]:invalid {
  border: 3px solid rgb(193, 8, 8);
  border-bottom: 1px solid rgb(193, 8, 8);
}

#personal-info input:required {
  border: 1px solid rgb(193, 8, 8);
  border-bottom: 4px solid rgb(193, 8, 8);
}


#personal-info label:has(input[type="text"]:valid)::after {
  content: 'well done';
  color: green;
  position: absolute;
  font-weight: bold;
  transform: translateY(-3.7em);
  right: 3em;
}



#personal-info label:has(input[type="email"]:valid)::after {
  content: 'well done';
  color: green;
  position: absolute;
  font-weight: bold;
  transform: translateY(-2em);
  right: 30em;
}  */



/**For firefox**/


#personal-info input[type="text"]:valid,
  #personal-info input[type="email"]:valid {
    border: 1px solid green;
    border-bottom: 3px solid green;
  }

  /* Styling for invalid text and email inputs */
  #personal-info input[type="text"]:invalid,
  #personal-info input[type="email"]:invalid {
    border: 3px solid rgb(193, 8, 8);
    border-bottom: 1px solid rgb(193, 8, 8);
  }

  /* Styling for required inputs */
  #personal-info input:required {
    border: 1px solid rgb(193, 8, 8);
    border-bottom: 4px solid rgb(193, 8, 8);
  }

  /* Styling for well done message for valid text inputs */
  #personal-info fieldset label input[type="text"]:valid ~ span::after {
    content: 'well done';
    color: green;
    font-weight: bold;
    margin-left: 10px;
  }

  /* Styling for well done message for valid email inputs */
  #personal-info fieldset label input[type="email"]:valid ~ span::after {
    content: 'well done';
    color: green;
    font-weight: bold;
    margin-left: 10px;
  }


/*******************************ALL PAGES ***************************************/
/***Navigation Next and prievious***/
header nav {
  display: flex;
  /* padding: 2em; */
  justify-content: center;
  gap: 3em;
  text-decoration: none;
}

header nav a {
  text-decoration: none;
  height: 1.5em;
  padding: .5em;

}

header nav a:hover {
  color: white;
}


/****Forms Courses*****/

main h2 {
  line-height: 0;
  font-size: 1.2rem;


}

h3 {
  color: var(--lightmode-menu-color);
  font-size: 1.4rem;
}

form {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 0;
  font-size: 1rem;
  max-width: 10em;
  gap: 2em;
  max-width: 50%;

}

form fieldset {
  background-color: #57798247;
  display: flex;
  flex-direction: column;
  border: none;
  gap: .7em;
}


/** Highlight the name of the lectureres**/
i {
  font-weight: bold;
}


form h3,
p {
  color: var(--darkmode-background-color);
  text-transform: uppercase;
  font-weight: 400;
  text-decoration-line: overline;

}

form legend {
  font-weight: 600;
  font-size: 1.2rem;
  ;

}


form textarea:focus {
  background-color: var(--lightmode-background-color);
  outline-style: dashed;
  outline-color: var(--lightmode-background-heading);
  outline-width: .1em;
  border: none;
  border-radius: .3em;
}

/**Text area */
textarea::placeholder {
  position: absolute;
  left: 1em;
  color: grey;
  bottom: 4em;
}


textarea {
  border: 2px solid rgba(238, 130, 238, 0.103);
  background-color: #f7f7f7;

}


.grade-scale {
  display: flex;
  justify-content: center;
  align-items: center;
  background: var(--lightmode-background-color);
  font-size: .9rem;

}


.grade-scale input[type="radio"] {
  display: none;
  border: none;
}

.grade-scale label {
  display: inline-block;
  text-align: center;
  padding: 4px 4px;
  font-size: 1rem;
  margin: 5px;
  background-color: white;
  color: #333;
  flex-wrap: wrap;
  border-radius: 5px;
  cursor: pointer;
}

/* .grade-scale label:before {
  content: "";
  width: 2px;
  display: inline-block;
  border-radius: 50%;
} */


.grade-scale input[type="radio"]:checked+label {
  background-color: #5779826c;
  color: white;
} */

.results1,
.results2,
.results3 {
  width: 20em;
  height: 2em;
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;

}


.valid-feedback {
  color: green;
}


/**Buttons**/

.navigation-buttons {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 2em;

}

button {
  background-color: var(--lightmode-progressive-bar);
  color: white;
  border: none;
  margin: auto;
  border-radius: .2em;
  padding: .7em;
  align-items: center;

}

button,
a {
  color: white;
  text-decoration: none
}


/***Confirmation**/

section {
  display: flex;
  flex-direction: column;
  background-color: var(--lightmode-fieldset-color);
  justify-content: center;

  align-items: center;
  height: 100vh;
  /* set the section height to full viewport height */
}

section h4 {
  font-size: 1.2rem;
  text-align: center;
  font-weight: 500;
  text-transform: uppercase;
}

section>div {

  display: flex;
  margin: auto 2em;
  flex-direction: column;
  background-color: white;
  border-top: 2em solid var(--lightmode-menu-color);
  padding: 1em;
  border-radius: 1em;
  justify-content: center;
  align-items: center;
}

section img {
  width: 50px;
}

section p {
  color: black;
}


















@media(min-width:44em) {


  header .navbar li {
    border: none;
  }


  #personal-info {
    display: grid;
    align-items: center;
    justify-content: center;


  }

  #personal-info,
  h2,
  label {
    gap: 1em;
  }





  #personal-info input {
    width: 25em;
    height: 2em;
    border: none;
    border-bottom: 1px solid black;

  }
/* 
  #personal-info label:has(input[type="text"]:valid)::after {
    content: 'well done';
    color: green;
    position: absolute;
    font-weight: bold;
    transform: translateY(-4.3em);
    right: 30em;
  }



  #personal-info label:has(input[type="email"]:valid)::after {
    content: 'well done';
    color: green;
    position: absolute;
    font-weight: bold;
    transform: translateY(-4.3em);
    right: 30em;
  } */





  textarea {
    width: 50em;
    height: 5rem;

  }

  /***Grading scale **/
  .grade-scale {
    gap: 1em;
  }


  .grade-scale label:before {
    content: "";
    width: 15px;
    display: inline-block;
    border-radius: 50%;
    text-align: right;
  }



  .navigation-buttons {
    padding: 3em;
    margin-bottom: 5em;
  }

  button {
    padding: 1em;

  }

  button:hover {
    background-color: var(--lightmode-menu-color);
    padding: 1em;

  }



}